asgiref==3.8.1
Brotli==1.1.0
cairocffi==1.6.1
CairoSVG==2.7.1
cffi==1.17.1
chardet==5.2.0
contourpy==1.3.1
cssselect2==0.8.0
cycler==0.12.1
defusedxml==0.7.1
Django==5.1.7
et_xmlfile==2.0.0
filelock==3.17.0
fonttools==4.56.0
fsspec==2025.3.0
html5lib==1.1
imbalanced-learn==0.13.0
imblearn==0.0
Jinja2==3.1.6
joblib==1.4.2
kiwisolver==1.4.8
kneed==0.8.5
MarkupSafe==3.0.2
matplotlib==3.10.1
mpmath==1.3.0
narwhals==1.29.1
networkx==3.4.2
numpy==2.2.3
openpyxl==3.1.5
packaging==24.2
pandas==2.2.3
pillow==11.1.0
plotly==6.0.0
psycopg2==2.9.10
pycparser==2.22
pydyf==0.11.0
pylightxl==1.61
pyparsing==3.2.1
pyphen==0.17.2
python-dateutil==2.9.0.post0
pytz==2025.1
reportlab==4.3.1
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
six==1.17.0
sklearn-compat==0.1.3
sqlparse==0.5.3
sympy==1.13.1
threadpoolctl==3.5.0
tinycss2==1.4.0
torch==2.6.0
torchaudio==2.6.0
torchvision==0.21.0
typing_extensions==4.12.2
tzdata==2025.1
weasyprint==60.1
webencodings==0.5.1
zopfli==0.2.3.post1
